<html>
    <head>
        <title>SkillSwap</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
    </head>
    <body>
        {% if user.is_authenticated %}
        <div class="top-bar">
          <div class="user-info">
            {% if request.user.userprofile.profile_picture %}
                <img src="{{ request.user.userprofile.profile_picture.url }}" alt="Profile Picture" class="topbar-profile-pic">
            {% endif %}
            <span>Welcome, {{ request.user.first_name }}</span>
          </div>

            <div class="btn-container">
              <a href="{% url 'skillswapapp:skills' %}" class="profile-btn">Skills</a>
              <a href="{% url 'skillswapapp:profile' %}" class="profile-btn">Profile</a>
              <a href="{% url 'skillswapapp:logout' %}" class="logout-btn">Logout</a>
            </div>
        </div>
        {% endif %}
        <!-- <div class="container"> -->
            {% block body_block %}
            <!-- Anything outside this will be inherited -->
            {% endblock %}
        <!-- </div> -->
    </body>
</html>
