{% extends 'skillswapapp/base.html' %}
{% block body_block %}
{% load static %}


<!DOCTYPE html>
<html>

<head>
  <title>Contact {{ skill.user.username }}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="contact-page">
  <div class="contact-container">
    <h2>Contact {{ skill.user.first_name  }}</h2>

    {% if error %}
    <div class="error-message" style="color: red;">     
      {{ error }}
    </div>
    {% endif %}
    

    {% if success %}
    <div class="success-message">
      Your message was sent successfully!
      <br><strong>Message:</strong> {{ message }}
    </div>
    {% else %}
    <form method="post">
      {% csrf_token %}
      <br><label for="message">Your Message:</label><br>
      <br>
      <textarea name="message" id="message" placeholder="Write your message here..."></textarea>
      <br>
      <button type="submit">Send</button>
    </form>
    {% endif %}

    <a href="{% url 'skillswapapp:skills' %}" class="back-link">← Back to Skills</a>
  </div>
</body>

</html>


{% endblock %}