{% extends 'skillswapapp/base.html' %}
{% load static %}
{% block body_block %}


<div class="register-container">
  <h2>Create Your Account</h2>

  <form method="POST" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}

    <div>
      {{ form.fullname.label_tag }}
      {{ form.fullname }}
      {{ form.fullname.errors }}
    </div>

    <div>
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.username.errors }}
    </div>

    <div>
      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <div>
      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {{ form.password1.errors }}
    </div>

    <div>
      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {{ form.password2.errors }}
    </div>

    <button type="submit">Register</button>
  </form>

  <div style="text-align: center; margin-top: 15px;">
    <p>
      Already have an account?
      <a href="{% url 'skillswapapp:login' %}">Login here</a>
    </p>
  </div>
</div>

{% endblock %}