{% extends 'skillswapapp/base.html' %}
{% block body_block %}

<div class="detail-container">
  <h2>{{ skill.title }}</h2>
  <p><strong>Category:</strong> {{ skill.get_category_display }}</p>
  <p><strong>Description:</strong> {{ skill.description }}</p>
  <p><strong>Availability:</strong> {{ skill.availability }}</p>
  <p><strong>Location:</strong> {{ skill.location }}</p>
  <p><strong>Offered by:</strong> 
    <a href="{% url 'skillswapapp:view_profile' skill.user.username %}">
      {{ skill.user.first_name }} ({{ skill.user.username }})
    </a>
  </p>


  <a href="{% url 'skillswapapp:skills' %}" class="detail-back-link">← Back to Skills</a>
</div>

{% endblock %}